<div class="container">
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
		{% for article in articles %}
			<div class="col-lg-4">
				<div class="mb-4">
					{% for photo in article.photos | slice(0,1) %}
						{% if photo.url is defined %}
							<img src="{{ asset('uploads/photos/' ~ photo.url ) | imagine_filter('my_thumb_webp') }}" id="card-photo" class="bd-placeholder-img rounded-circle" width="200" height="160" alt="{{ photo.name }}">
						{% endif %}
					{% endfor %}
				</div>
				<h6 class="fw-normal mb-2 text-primary">{{ article.title}}</h6>
				<small class="text-body-secondary">{{ article.createdAt | date('d-m-Y') }}</small>
				<p>{{ article.content | u.truncate(160,'...') |raw}}</p>
				<p>
					<button type="button" class="btn btn-sm btn-outline-primary">Lire</button>
				</p>
			</div>
			<!-- /.col-lg-4 -->
		{% endfor %}
	</div>
	<div class="navigation d-flex justify-content-center mt-2 mb-8">
		{{ knp_pagination_render(articles) }}
	</div>
</div>

