<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
	<div class="carousel-indicators">
		{% set isFirst = true %}
		{% for aticle in articles %}
			{% if isFirst == true %}
				<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ loop.index0 }}" class="active" aria-current="true" aria-label="Slide {{ loop.index0 }}"></button>
			{% else %}
				<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ loop.index0 }}" aria-label="Slide {{ loop.index0 }}"></button>
			{% endif %}
			{% set isFirst = false %}
		{% endfor %}
	</div>
	<div class="carousel-inner">
		{% set isFirst = true %}
		{% for article in articles %}
			{% if isFirst == true %}
				<div class="carousel-item active">
				{% else %}
					<div class="carousel-item">
					{% endif %}
					{% set isFirst = false %}
					{% for photo in article.photos | slice(0,1) %}
						{% if photo.url is defined %}
							<img src="{{ asset('uploads/photos/' ~ photo.url) | imagine_filter('thumbnail_webp')  }}" class="d-block w-100 img-fluid img-responsive" alt="{{ article.title}}">
						{% endif %}
					{% endfor %}
					<div class="container">
						<div class="carousel-caption text-start">
							<h1>{{ article.title }}</h1>
							<p class="opacity-75">{{ article.content | u.truncate(50,'...') |raw}}</p>
							<p>
								<a class="btn btn-sm btn-primary rounded-pill" href="#">En savoir plus</a>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
